@using ClientApp.Shared

@using Microsoft.AspNetCore.Components.Routing

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu"></span> Home
        </NavLink>

        <NavLink class="nav-link" href="fetchproducts">
            <span class="bi bi-list-nested-nav-menu"></span> Product List
        </NavLink>

    </nav>
</div>
